<html>


  <style>  
          body  
          {  
          background-image:url("images/background.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          }  
  </style>  


  <h1 style="color:blue;">This is a demo application to analyze bank statement of customer and show insights</h1>

<br>
<br>
<br>
<br>



<div class="form">
    <form action="data" method="post" enctype="multipart/form-data">
      <input type="file" name="file" value="">
      <br>
      <input type="submit" name="" value="Upload">
    </form>

</div>


   



</html>